language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - "10"
  - "11"
after_script:
  - "node_modules/.bin/nyc report --reporter=text-lcov | node_modules/.bin/coveralls"
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
