language: node_js
notifications:
  email: false
node_js:
  - "10"
  - "12"
  - "13"
before_script:
  - yarn build
script:
  - yarn test
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
jobs:
  include:
    - stage: release
      node_js: lts/*
      script:
        - yarn test
        - cat coverage/lcov.info | npx coveralls
        - npx semantic-release
